.navbar .brand {
	font-size: 2.1em;
	color: #000;
}
.table {
	width: 90%;
}
div.subnav .nav > li > a {
	color: white;
}
div.subnav .nav > li > a:hover {
	color: white;
}
.subnav {
	background-image: none;
	background-color: #0AAAF1;
	margin-bottom:0px;
}
section {
	padding-top: 55px;
	margin-top: 0px;
}
.table-bordered th, .table-bordered td {
	text-align: center;
	font-size: 14px;
}
.btn {
	margin-bottom: 10.5px;
}
form {
	margin-bottom:0px;
}
input[type="radio"] {
	margin-bottom:3px;
	margin-top: 0px;
}
.modal-footer .btn+.btn {
	margin-bottom: 10.5px;
}
ul.ajaxdropdownsearch {
	margin: 0 0 3px 10px;
	padding-top: 0.25em;
	width: 200px;
	list-style-type: none;
	background-color: #09d;
	margin-left: 1px;
	margin-top: -10px;
	position: absolute;
	list-style-position: outside;
	list-style-image: none;
	z-index: 0;
	color: #fff;
}

li.ajaxdropdownsearch{
	line-height: 20px;
	border-bottom: 1px solid;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	padding-left: 0.65em;
}

li.ajaxdropdownsearch:hover {
	background-color: #e9e9e9;
	color: #000;
	border: 0.5px solid;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.tooltip-inner {
		display:none;
	}
}